<html>

<head>
    <meta charset="utf-8" />
</head>

<body>

    <div id="wrapper">
        <div id="main">
            <h1>About Our stuff</h1>
            <p>We do things on occasion, right now we wanna go opensource. You should totally trust us</p>
            <h2 class="active">HEY KID, WANT SOME FREE SOFTWARE? OPEN SOURCE MANNNNN ITS TOTALLY GROOOOVY</h2>
        </div>

    </div>
</body>
</html>

