<!DOCTYPE html>
    <html>

    <body>
        <div id="wrapper">
            <div id="main">
                <h1>Contact Us</h1>
                <p>Fill out the form</p>

                <form>
                    <div>
                        <label>Name</label>
                        <input />
                    </div>
                    <div>
                        <label>Email</label>
                        <input />
                    </div>
                    <div>
                        <label>Location</label>
                        <input />
                    </div>
                    <div>
                        <label>Comments</label>
                        <input />
                    </div>
                    <div><input type="submit" value="Add" /></div>
                </form>

            </div>

        </div>
    </body>

</html>

